# <center> Language-Detection-With-ML

### W'll use ML techniques to automaticly detect languages

#### Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

#### Then import the dataset

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")

In [3]:
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

#### Let's look at wether  there are null values in the dataset

In [4]:
data.isnull().sum()

Text        0
language    0
dtype: int64

#### No null value in the dataset

#### Let's check the different languages that we have.

In [5]:
data['language'].value_counts()

Estonian      1000
Swedish       1000
English       1000
Russian       1000
Romanian      1000
Persian       1000
Pushto        1000
Spanish       1000
Hindi         1000
Korean        1000
Chinese       1000
French        1000
Portugese     1000
Indonesian    1000
Urdu          1000
Latin         1000
Turkish       1000
Japanese      1000
Dutch         1000
Tamil         1000
Thai          1000
Arabic        1000
Name: language, dtype: int64

#### The dataset contains 22 languages with 1000 records each with no null values.
#### So the dataset is quiet balanced and would be interesting to train a Machine Learning (ML) model on.

### <center>  Language Detection Model

#### Now let's split the dataset into a training and test

In [7]:
x = np.array(data['Text'])
y = np.array(data['language'])

cv = CountVectorizer()

X = cv.fit_transform(x)

X_train ,X_test, y_train, y_test = train_test_split( X, y,
                                                    test_size= 0.33, 
                                                    random_state = 42)